
.question-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: rgb(247, 160, 160);
}

.submit-button {
    background-color: #030303;  
    color: white;
    padding: 8px 16px;
    width: 400px;
    border: none;
    border-radius: 20px;
    margin: auto;
}

.question-container h1 {
    text-align: center;
    color: white;
}